# 전체 선수 명단

In [11]:
from selenium import webdriver
driver = webdriver.Chrome()

In [12]:
from selenium.webdriver.common.by import By
driver.get("https://www.saramin.co.kr/zf_user/jobs/list/job-category?cat_mcls=2&page=1&page_count=100&sort=RD")

# driver.find_element(By.CSS_SELECTOR, "#popupVideo > img").click()

In [14]:
box_item_list=driver.find_elements(By.CSS_SELECTOR, 'div.box_item')
len(box_item_list)

100

In [22]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.company_nm > a').text

'위더스파트너스(주)'

In [23]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.company_nm > a').get_attribute('href')

'https://www.saramin.co.kr/zf_user/company-info/view-inner-recruit?csn=WTNQOWM3Y09vbFRkeHR0QWNnWGdTZz09'

In [31]:
'헤드헌팅' in box_item_list[0].find_element(By.CSS_SELECTOR, ".company_nm").text

True

In [34]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.notification_info a.str_tit').get_attribute('title')

'IT 인프라 네트워크 보안 / 반도체 회사 / 중국'

In [35]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.notification_info a.str_tit').get_attribute('href')

'https://www.saramin.co.kr/zf_user/jobs/relay/view?view_type=list&rec_idx=47328963'

In [38]:
[i.text for i in box_item_list[0].find_elements(By.CSS_SELECTOR, '.notification_info .job_meta .job_sector span')]

['정보보안', '네트워크', '인프라']

In [39]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.recruit_info .work_place').text

'아시아·중동 중국.홍콩'

In [40]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.recruit_info .career').text

'4 ~ 12년 · 정규직'

In [41]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.recruit_info .education').text

'대학교(4년)↑'

In [42]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.support_info .date').text

'~02.07(수)'

In [43]:
box_item_list[0].find_element(By.CSS_SELECTOR, '.support_info .deadlines').text

'30분 전 등록'

In [9]:
driver.find_element(By.CSS_SELECTOR, '[data-mcls_cd_no="2"]').click()
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

wait = WebDriverWait(driver, 10)
button = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#all_check_onedepth_2')))
button.click()

TimeoutException: Message:

In [ ]:
#all_check_onedepth_2

In [3]:
driver.find_element(
    By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ddlTeam"
).click()

In [7]:

import time
import re
pattern = re.compile("playerId=([0-9]+)")
playid = []
select_team = "#cphContents_cphContents_cphContents_ddlTeam > option:nth-child({})"
select_page = "#cphContents_cphContents_cphContents_ucPager_btnNo{}"
for x in range(2,12):
    for_1 = select_team.format(x)
    driver.find_element(By.CSS_SELECTOR, for_1).click()
    time.sleep(2)
    #playid.extend(pattern.findall(driver.page_source))
    for y in range(1,6):
        f2 = select_page.format(y)
        try:
            driver.find_element(By.CSS_SELECTOR, f2).click()
            time.sleep(1)
            playid.extend(pattern.findall(driver.page_source))
        except Exception as e:
            print (e)
        time.sleep(2)

In [10]:
driver.close()

# 개별 선수 정보 조회

In [72]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm

In [75]:
players = []

for id in tqdm(playid):
    url = f"https://www.koreabaseball.com/Record/Player/PitcherDetail/Basic.aspx?playerId={id}"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    player_basic_infos = soup.find(class_="player_basic").find_all("span")
    edited_player_basic_infos = [info.text for info in player_basic_infos]
    edited_player_basic_infos.append(id)
    edited_player_basic_infos.append(soup.find(class_="team").text)
    players.append(edited_player_basic_infos)

100%|██████████| 912/912 [13:51<00:00,  1.10it/s]

In [76]:
cols = [
    "Name",
    "BackNo",
    "Birthday",
    "Position",
    "HeightWeight",
    "Career",
    "Payment",
    "Salary",
    "Draft",
    "JoinInfo",
    "Id",
    "Team"
]

df = pd.DataFrame(players, columns=cols)
df

,Name,BackNo,Birthday,Position,HeightWeight,Career,Payment,Salary,Draft,JoinInfo,Id,Team
0,강민균,117,2000년 07월 17일,내야수(우투우타),178cm/81kg,강남초-서울이수중-덕수고-홍익대,3000만원,3000만원,23 LG 11라운드 107순위,,53103,LG 트윈스
1,강효종,59,2002년 10월 14일,투수(우투우타),184cm/86kg,저동초(일산서구리틀)-충암중-충암고,20000만원,3300만원,21 LG 1차,21LG,51143,LG 트윈스
2,고우석,19,1998년 08월 06일,투수(우투우타),182cm/90kg,갈산초-양천중-충암고,30000만원,43000만원,17 LG 1차,17LG,67119,LG 트윈스
3,곽민호,116,2004년 12월 23일,내야수(우투우타),184cm/90kg,역삼초-자양중-배명고,3000만원,3000만원,23 LG 10라운드 97순위,,53104,LG 트윈스
4,권동혁,68,2003년 03월 20일,외야수(우투우타),194cm/97kg,(천안유소년리틀)-온양중-라온고,6000만원,3000만원,23 LG 6라운드 57순위,23LG,53168,LG 트윈스
...,...,...,...,...,...,...,...,...,...,...,...,...
907,주승빈,96,2004년 03월 06일,투수(좌투좌타),182cm/84kg,구운초(수원권선구리틀)-영동중-서울고,5000만원,3000만원,22 키움 2차 5라운드 46순위,,52396,고양 히어로즈
908,주승우,30,2000년 01월 30일,투수(우투우타),185cm/82kg,송추초(의정부리틀)-영동중-서울고-성균관대,18000만원,3100만원,22 키움 1차,22키움,52330,키움 히어로즈
909,하영민,50,1995년 05월 07일,투수(우투우타),180cm/74kg,광주수창초-진흥중-진흥고-히어로즈,15000만원,6500만원,14 넥센 2차 1라운드 4순위,14넥센,64350,키움 히어로즈
910,홍성민,67,1989년 07월 15일,투수(우언양타),191cm/87kg,노암초-경포중-강릉고-한양대-KIA-롯데-경찰-롯데-NC,5000만원,10000만원,12 KIA 6라운드 56순위,12KIA,62655,키움 히어로즈
911,후라도,75,1996년 01월 30일,투수(우투우타),188cm/109kg,파나마 San Judas Tadeo(고),,850000달러,23 키움 자유선발,23키움,53375,키움 히어로즈

# 환산연봉

In [134]:
def calculate_conversion(row):
    if row[2] == "달러":
        return int(row[1]) * 1311
    elif row[2] == "만원":
        return int(row[1]) * 10000
    else:
        return 0

df1 = df.Salary.str.split("(\d+)", expand=True)
df["환산연봉"] = df1.apply(calculate_conversion, axis=1)
df

,Name,BackNo,Birthday,Position,HeightWeight,Career,Payment,Salary,Draft,JoinInfo,Id,Team,환산연봉
0,강민균,117,2000년 07월 17일,내야수(우투우타),178cm/81kg,강남초-서울이수중-덕수고-홍익대,3000만원,3000만원,23 LG 11라운드 107순위,,53103,LG 트윈스,30000000
1,강효종,59,2002년 10월 14일,투수(우투우타),184cm/86kg,저동초(일산서구리틀)-충암중-충암고,20000만원,3300만원,21 LG 1차,21LG,51143,LG 트윈스,33000000
2,고우석,19,1998년 08월 06일,투수(우투우타),182cm/90kg,갈산초-양천중-충암고,30000만원,43000만원,17 LG 1차,17LG,67119,LG 트윈스,430000000
3,곽민호,116,2004년 12월 23일,내야수(우투우타),184cm/90kg,역삼초-자양중-배명고,3000만원,3000만원,23 LG 10라운드 97순위,,53104,LG 트윈스,30000000
4,권동혁,68,2003년 03월 20일,외야수(우투우타),194cm/97kg,(천안유소년리틀)-온양중-라온고,6000만원,3000만원,23 LG 6라운드 57순위,23LG,53168,LG 트윈스,30000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,주승빈,96,2004년 03월 06일,투수(좌투좌타),182cm/84kg,구운초(수원권선구리틀)-영동중-서울고,5000만원,3000만원,22 키움 2차 5라운드 46순위,,52396,고양 히어로즈,30000000
908,주승우,30,2000년 01월 30일,투수(우투우타),185cm/82kg,송추초(의정부리틀)-영동중-서울고-성균관대,18000만원,3100만원,22 키움 1차,22키움,52330,키움 히어로즈,31000000
909,하영민,50,1995년 05월 07일,투수(우투우타),180cm/74kg,광주수창초-진흥중-진흥고-히어로즈,15000만원,6500만원,14 넥센 2차 1라운드 4순위,14넥센,64350,키움 히어로즈,65000000
910,홍성민,67,1989년 07월 15일,투수(우언양타),191cm/87kg,노암초-경포중-강릉고-한양대-KIA-롯데-경찰-롯데-NC,5000만원,10000만원,12 KIA 6라운드 56순위,12KIA,62655,키움 히어로즈,100000000
911,후라도,75,1996년 01월 30일,투수(우투우타),188cm/109kg,파나마 San Judas Tadeo(고),,850000달러,23 키움 자유선발,23키움,53375,키움 히어로즈,1114350000

# 파일로 출력

In [162]:
for index, row in df.iterrows():
    id = row['Id']
    pd.DataFrame([row]).to_csv(f'./csv/player_info_{id}.csv', index=False, encoding='utf-8-sig')